.container{
  height: 60rem;
}

.empty-space {
  height: 6rem;
}

.line_height{
  line-height: 2.5; 
}

.snowFlake_container {
  
  height: 40rem;
  
  .snowFlake-block {
    height: 2rem;
    width: 2rem;
    transform-origin: 0% 0%;
    animation: snowRotate 20s linear infinite;


    .line {
      background-color: orange;
      width: 50%;
      height: 4px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform-origin: 0% 0%;
      transform: translateY(-2px);
      &:nth-of-type(2) {
        transform: rotate(60deg) translateY(-2px) ;
      }
      &:nth-of-type(3) {
        transform: rotate(120deg) translateX(1px) translateY(-2px);
      }
      &:nth-of-type(4) {
        transform: rotate(180deg)  translateY(-2px);
      }
      &:nth-of-type(5) {
        transform: rotate(240deg) translateX(1px) translateY(-2px);
      }
      &:nth-of-type(6) {
        transform: rotate(300deg) translateX(1px) translateY(-2px);
      }
    }
  }
}


@keyframes snowRotate {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(3600deg);
  }
}


